<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <ion-list>
            <div class="list card" ng-repeat="movie in movies">
                <div class="item item-avatar">
                    <img ng-src="{{movie.movie.logo}}">
                    <h2>{{movie.movie.title}}</h2>
                    <p>{{movie.movie.movieDetails.overview}}</p>
                </div>
                <div class="item item-image">
                <img ng-src="{{movie.movie.poster}}" />
                </div>
                <a class="item item-icon-left assertive" href="#">
                    <i class="icon ion-music-note"></i> Start listening
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>