<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <ion-list class="card" ng-repeat="movie in movies">

            <div class="item item-avatar">
                <h2>{{movie.movie.title}}</h2>
                <p>{{movie.movie.movieDetails.overview}}</p>
            </div>

            <div class="item item-image">
                <img ng-src="{{movie.movie.movieDetails.images.poster.medium}}"/>
            </div>

            <a class="item item-icon-left assertive" href="#">
                <i class="icon ion-music-note"></i> Start listening
            </a>

        </ion-list>
    </ion-content>
</ion-view>